td {  
    text-align: center;    
  	width: 200px;
 	table-layout: fixed;  
}

img {
    width: 100px;
}

.main-content table {
    width: 1000px;
    word-break: normal;
}

table, th, td {
   border: 1px solid black;
}
