td {  
    text-align: center;
 	table-layout: fixed; 
}

img {
    width: 1000px;
}

a img {
    width: 100px;
}


#data {
    padding-top: 2rem;
}

.main-content {
    padding: 2rem 0.1rem;
}

.main-content table {
    width: 100%;
    word-break: normal;
}

table, th, td {
   border: 1px solid black;
}

td, th {
    max-width: 10%;
}

#titles {
    margin: 0 auto;
    padding: 2rem 6rem;
}

.main-content {
    max-width: 100%;
}
